.slide-left-image {
    transform: translateX(-50%);
    opacity: 0;
}

.slide-right-image {
    transform: translateX(50%);
    opacity: 0;
}

.slide-down {
    transform: translateY(-50%);
    opacity: 0;
}