.slide-left-image {
    transform: translateX(-50%);
    opacity: 0;
}

.slide-right-image {
    transform: translateX(50%);
    opacity: 0;
}

.slide-down {
    transform: translateY(-50%);
    opacity: 0;
}

.animate-me {
    animation: fadeMeIn 1s forwards, slideMeIn 1s forwards;
}

@keyframes fadeMeIn {
    to {
        opacity: 1; /* Reveal element during animation */
    }
}

@keyframes slideMeIn {
    to {
        transform: translateX(0%);
    }
}

.slide-in-skills-desktop {
    animation: ease-out slideInSkills 2s forwards;
}

.skills-slide-left-desktop {
    transform: translateX(-50%);
    opacity: 0;
}

.skills-slide-right-desktop {
    transform: translateX(50%);
    opacity: 0;
}