.slider {
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 5vh;
}
  
.slider-slide {
  background-position: center;
  background-size: cover;
  width: 130vh;
  height: 55vh;
  border-width: 0.3vh;
  border-color: white;
}

.slider-slide img {
  display: block;
  height: 100%;
}
  